.Section {
    display: flex;
    flex-direction: column;
}

.Section__controls {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 4px;
}

.Section__controls > div {
    display: flex;
    gap: 8px;
}
