.MagicInput{
    position: relative;
}

.MagicInput__text {
    position: relative;
    pointer-events: none;
    background: transparent;
}

.MagicInput__textarea {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    resize: none;
    overflow: hidden;
    color: transparent;
    display: block;
    background: transparent;
    caret-color: white;

} 

.MagicInput__textarea:focus {
    outline-style: solid;
    outline-width: 3px;
}

.chord--around {
    display: inline-block;
    outline: solid 2px var(--b300);
    box-shadow: 2px 0px 0px 0px var(--b300);
    box-shadow: -2px 0px 0px 0px var(--b300);
}
