.LyricsPlayground {
  --line-horisontal-padding: 4px;
  position: relative;
  line-height: 1.4;

  .Line {
    padding-left: var(--line-horisontal-padding);
    padding-right: var(--line-horisontal-padding);
  }

  &.LyricsPlayground--editMode .InlineSection .Line:nth-child(odd) {
    background-color: #f6f6f6;
  }
}


.LyricsPlayground__textarea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: hidden;
  color: transparent;
  /*color: violet;*/
  display: block;
  background: transparent;
  caret-color: grey;
  outline: none;
  /*padding-left: var(--line-horisontal-padding);*/
  /*padding-right: var(--line-horisontal-padding);*/
}

.LyricsPlayground__textarea:focus {
  /*outline-style: solid;*/
  /*outline-width: 1px;*/
  /*outline-color: orange;*/
  /*outline: none;*/
  /*box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);*/
}
