@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



/* MY CODE GOES BELOW */

select {
  appearance: none; 
}

.threeCols {
  column-count: 3; /* Create 3 columns */
  column-gap: 8px; /* Optional: Adjust space between columns */
  overflow-x: scroll;
  max-height: calc(100vh - 48px);
}

@media screen and (max-width: 1024px) {
  .threeCols {
    column-count: 2;
  }
  
}

@media screen and (max-width: 768px) {
  .threeCols {
    column-count: initial;
    overflow-x: initial;
    max-height: initial;
  }
  
}
